# Python
__pycache__/
*.pyc

# Node.js
node_modules/
build/
dist/

# Docker
*.log
.env
.env.local
.vscode/
.docker/

# OS
.DS_Store
Thumbs.db

# React
frontend/node_modules/
frontend/build/

# Byte-compiled
*.pyo
*.pyd

# IDE
.idea/

# Model file too large for GitHub
backend/model.pkl

